@import url("https://fonts.googleapis.com/css2?family=Jua&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap");

body {
  background-color: pink;
}

header {
  background-color: #cff09e;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  padding-left: 30px;
}

.hamburger {
  width: 50px;
  height: auto;
  padding-right: 50px;
}

/* navigation */

nav {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 50%;
  border-radius: 3%;
  padding: 20px;
  margin: 30px;
  background-color: #cbe86b;
  box-shadow: 3px 3px 3px 3px gray;
}

.navbox {
  margin: 10px;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
}

.navbox:hover {
  background-color: #fab1ce;
  color: white;
}

.navheader,
h3 {
  font-family: "Jua", sans-serif;
  font-size: 20px;
}

.navbox {
  font-family: "Gamja Flower", cursive;
}

/* section */

section {
  background-color: #fbffb9;
  display: flex;
}

cardsection {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 250px;
  height: 20em;
  margin: 10px;
  align-items: center;
  border-radius: 10%;
  box-shadow: 3px 3px 3px pink;
  justify-content: space-around;
}

h3 {
  margin-top: 30px;
}

.hashtag {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  margin-bottom: 20px;
}

.hashtag h5 {
  overflow: hidden;
  text-overflow: clip;
  white-space: nowrap;
  width: 100px;
  height: 20px;
  font-size: 12px;
}

.hashtag button {
  width: 10px;
  margin-left: 10px;
  background-color: white;
  border: none;
  text-shadow: 2px 2px 2px #fab1ce;
  cursor: pointer;
}

.card img {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.card .stuff {
  width: 200px;
  height: 150px;
  border-radius: 5%;
}

.card .minebtn {
  position: relative;
  width: 20px;
  margin-bottom: 15px;
  left: 90px;
}
