body {
  background-color: pink;
}

header {
  background-color: #cff09e;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  padding-left: 30px;
}

.hamburger {
  width: 50px;
  height: auto;
  padding-right: 50px;
}

nav {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 50%;
  border-radius: 3%;
  padding: 10px;
  margin: 10px;
  background-color: #cbe86b;
  box-shadow: 3px 3px 3px 3px gray;
}

.navbox {
  margin: 10px;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
}

.navbox:hover {
  background-color: #fab1ce;
  color: white;
}

section {
  background-color: #fbffb9;
  display: flex;
}

cardsection {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 15%;
  height: 20em;
  margin: 10px;
  align-items: center;
  border-radius: 10%;
  box-shadow: 3px 3px 3px pink;
}

.card h5 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100px;
  height: 80px;
  margin-top: -5px;
}

img {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.stuff {
  width: 10rem;
  height: 30rem;
  border-radius: 5%;
  margin-top: -1rem;
}

.btn {
  position: relative;
  width: 10%;
  margin-top: 5px;
  left: 50px;
}
