@font-face {
  font-family: "TTTtangsbudaejjigaeB";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/TTTtangsbudaejjigaeB.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "GangwonEdu_OTFBoldA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

html {
  display: flex;
  justify-content: center;
  background-color: white;
  height: 680px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffe5ec;
  width: 330px;
  height: 680px;
  padding: 20px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h3 {
  font-family: "TTTtangsbudaejjigaeB";
}

#wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 350px;
  background-color: #fffcdc;
  border-radius: 10%;
}

#todoContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.category {
  width: auto;
  margin: 10px;
  padding: 10px;
  list-style: none;

  border-radius: 10%;
  font-family: "GangwonEdu_OTFBoldA";
  background-color: #dfe7fd;
}

.category:hover {
  cursor: pointer;
}
